/* --------------------------cosas generales------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFDE2;
}

a:link, a:visited {
    color: rgb(15, 15, 15);
    text-decoration: none; /* Elimina el subrayado */
}

/* --------------------------cosas compartidas (cabecera) ------------------------- */


.logo{
    width: 40%;
    min-width: 150px;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.iconitos{
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
}

header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: #D8C9B6;
    z-index: 100;
}

#cabecera_central{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#cabecera_inferior{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#cabecera_inferior > div > img{
    display: inline;
    height: 18px;
    width: 18px;
}

#cabecera_inferior > div > p{
    display: inline;
}

#niño1{
    text-align: start;
}

#niño2{
    text-align: end;
}

#cabecera_inferior > div{
    align-content: center;
    margin-bottom: 5px;
}


#conIconos{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

#navinicial{
    text-align:right;
    display: flex; 
    justify-content: flex-end;
}

#navinicial > *{
    font-size: larger;
}


/* --------------------------pagina principal------------------------- */

#totality{
  width: 100%;
  height: 100vh;
  display: flex;
}

#divisionuno{
    height: 100%;
    width: 50%;
    background: url(diseño3.png) ;
    background-repeat:round;
}

#divisiondos{
    height: 100%;
    width: 50%;
    background: url(zendaya.jpg) ;
    background-repeat:round;
}

.negro{
    background-color: rgba(0, 0, 0, 0.550);
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

#divisionuno:hover{
    width: 52%;
    transition: 0.5s;
}

#divisiondos:hover{
    width: 52%;
    transition: 0.5s;
}

.negro:hover{
    background-color: rgba(0, 0, 0, 0);
}

.centado{
    position: relative;
    top: 60%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size:x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D8C9B6;
    border-radius: 20px;
}

/* --------------------------pagina productos------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ffffff;
    margin: 20px;
}

.caja {
  
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.caja:hover{
    background-color: rgba(255, 251, 225, 0.8);
    transition: 0.5s;
}

.caja > img{
    width: 80%;
}




@media (max-width: 800px) {
    #totality{
    display:block;
    }
    #divisionuno{
        height: 100%;
        width: 100%;
    }
    
    #divisiondos{
        height: 100%;
        width: 100%;
        background: url(zendaya2.jpg) ;
        background-repeat:round;
    }

    .negro{
        background-color: rgba(0, 0, 0, 0);
        height: 100%;
        width: 100%;
    }

    .centado{
        top: 50%;
    }
    
    #divisionuno:hover{
        height: 100%;
        width: 100%;
        background: url(diseño3.png) ;
        background-repeat:round;
    }

    #divisiondos:hover{
        height: 100%;
        width: 100%;
        background: url(zendaya2.jpg) ;
        background-repeat:round;
    }

    .iconitos{
        display: block;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 600px) {
    .iconitos{
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .caja > button {
        height: 30px;
        width: 150px;
    }
}
